<div class="form-card">
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signUpForm" (submit)="submitSignUpForm()">
      <mat-form-field appearance="fill" color="primary" class="form-group">
        <mat-label>Username</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input
          matInput
          placeholder="Type your username"
          formControlName="username"
          name="username"
        />
        <mat-error
          *ngIf="
            this.controls['username'].invalid &&
            this.controls['username'].touched
          "
        >
          <span *ngIf="this.controls['username'].hasError('required')"
            >This field is required</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input
          matInput
          placeholder="Type your email"
          formControlName="email"
          name="email"
        />
        <mat-error
          *ngIf="
            this.controls['email'].invalid && this.controls['email'].touched
          "
        >
          <span *ngIf="this.controls['email'].hasError('required')"
            >This field is required</span
          >
          <span *ngIf="this.controls['email'].hasError('email')"
            >Email is invalid</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          name="password"
        />
        <mat-error
          *ngIf="
            this.controls['password'].invalid &&
            this.controls['password'].touched
          "
        >
          <span *ngIf="this.controls['password'].hasError('required')"
            >This field is required</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Repeat Password</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input
          matInput
          type="password"
          placeholder="Repeat Password"
          formControlName="passwordRepetition"
          name="passwordRepetition"
        />
        <mat-error
          *ngIf="
            this.controls['passwordRepetition'].invalid &&
            this.controls['passwordRepetition'].touched
          "
        >
          <span *ngIf="this.controls['passwordRepetition'].hasError('required')"
            >This field is required</span
          >
          <span *ngIf="this.controls['passwordRepetition'].hasError('notSame')"
            >Please enter the same password</span
          >
        </mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button
          [disabled]="!this.signUpForm.valid"
          mat-raised-button
          type="submit"
          color="primary"
        >
          Sign Up <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</div>
