<mat-toolbar color="primary">
  <nav id="navbar">
    <div>
      <app-navbar-link
        redirectUrl="/animes"
        [activeUrl]="activeUrl"
        label="Animes"
      ></app-navbar-link>

      <app-navbar-link
        redirectUrl="/mangas"
        [activeUrl]="activeUrl"
        label="Mangas"
      >
      </app-navbar-link>

      <app-navbar-link
        redirectUrl="/contact"
        [activeUrl]="activeUrl"
        label="Contact"
      ></app-navbar-link>
    </div>

    <div>
      <div id="navbar__search-bar">
        <mat-icon id="navbar__search-bar__icon">search</mat-icon>
        <input
          id="navbar__search-bar__input"
          type="text"
          placeholder="Search"
          [(ngModel)]="searchTerm"
          (keyup.enter)="performSearch()"
        />
      </div>

      <app-navbar-button
        label="Login"
        [callback]="loginButtonCallback"
      ></app-navbar-button>

      <app-navbar-button
        label="Sign up"
        [callback]="signUpButtonCallback"
      ></app-navbar-button>
    </div>
  </nav>
</mat-toolbar>
