<div class="search-view-container">
  <div class="category-selectors">
    <button
      mat-raised-button
      color="primary"
      (click)="changeCategory(Categories.ANIME)"
    >
      Anime
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="changeCategory(Categories.MANGA)"
    >
      Manga
    </button>
  </div>

  <div class="search-results">
    <h3>Search results</h3>
    <div class="content">
      <mat-card
        class="item"
        *ngFor="let item of items"
        (click)="selectItem(item.mal_id)"
      >
        <img
          mat-card-image
          src="{{ item.images.jpg.image_url }}"
          alt="Resource cover"
        />
        <mat-card-content>
          <span class="text-center">{{ item.title }}</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="pagination-container" *ngIf="hasPagination()">
      <button
        mat-stroked-button
        color="primary"
        class="pagination-item"
        *ngIf="hasPreviousPage()"
        (click)="searchPage(currentPage - 1)"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <ng-container *ngFor="let pageOption of range(1)(max_pages)">
        <button
          mat-raised-button
          color="primary"
          class="pagination-item"
          (click)="searchPage(pageOption)"
          *ngIf="pageOption === currentPage"
        >
          {{ pageOption }}
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="pagination-item"
          (click)="searchPage(pageOption)"
          *ngIf="pageOption !== currentPage"
        >
          {{ pageOption }}
        </button>
      </ng-container>
      <button
        mat-stroked-button
        color="primary"
        class="pagination-item"
        *ngIf="hasNextPage()"
        (click)="searchPage(currentPage + 1)"
      >
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
