$container-gap: 3rem

.search-view-container
    display: grid
    grid-template-columns: 10rem 1fr
    column-gap: $container-gap
    align-items: start

    .category-selectors
        display: grid
        grid-template-columns: 1fr
        row-gap: 1rem
        align-items: center

    .search-results
        width: 100%
        border-left: 1px solid #DEDEDE
        margin-left: calc($container-gap / -2)
        padding-left: calc($container-gap / 2)

        .content
            display: flex
            flex-flow: wrap

            .item
                width: 10rem
                margin: 0.5rem
                cursor: pointer
                box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18)

        .pagination-container
            display: flex
            justify-content: center
            margin: 2rem 0

            .pagination-item
                margin-right: 1rem
