<div class="search-view-container">
  <div class="category-selectors">
    <button
      mat-raised-button
      color="primary"
      (click)="changeCategory(Categories.ANIME)"
    >
      Anime
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="changeCategory(Categories.MANGA)"
    >
      Manga
    </button>
  </div>

  <div class="search-results">
    <h3>Search results</h3>
    <div class="content">
      <mat-card class="item" *ngFor="let item of items" (click)="selectItem(item.mal_id)">
        <img mat-card-image src="{{ item.images.jpg.image_url }}" alt="Resource cover" />
        <mat-card-content>
          <span class="text-center">{{item.title}}</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>