<div class="section-title">
  <h2 color="primary">This Season</h2>
  <mat-divider></mat-divider>
</div>

<mat-spinner *ngIf="isTopAnimeLoading" class="mx-auto"></mat-spinner>

<div
  *ngIf="!isTopAnimeLoading"
  id="carouselThisSeason"
  class="carousel"
  data-bs-ride="carousel"
>
  <div id="carouselInnerThisSeason" class="carousel-inner">
    <div class="carousel-item active" *ngFor="let item of thisSeason">
      <div class="card card-item" (click)="goToElement('anime', item)">
        <div class="img-wrapper">
          <img
            src="{{ item.images.jpg.image_url }}"
            class="d-block w-100"
            alt="{{ item.title }}"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
        </div>
      </div>
    </div>
  </div>
  <button
    id="prevThisSeasonButton"
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselThisSeason"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    id="nextThisSeasonButton"
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselThisSeason"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="section-title">
  <h2>Top Anime</h2>
  <mat-divider></mat-divider>
</div>
<mat-spinner *ngIf="isTopMangaLoading" class="mx-auto"></mat-spinner>
<div
  *ngIf="!isTopMangaLoading"
  id="carouselTopAnime"
  class="carousel"
  data-bs-ride="carousel"
>
  <div id="carouselInnerTopAnime" class="carousel-inner prevAnime">
    <div class="carousel-item active" *ngFor="let item of topAnime">
      <div class="card card-item" (click)="goToElement('anime', item)">
        <div class="img-wrapper">
          <img
            src="{{ item.images.jpg.image_url }}"
            class="d-block w-100"
            alt="{{ item.title }}"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
        </div>
      </div>
    </div>
  </div>
  <button
    id="prevAnimeButton"
    class="carousel-control-prev prevAnime"
    type="button"
    data-bs-target="#carouselTopAnime"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    id="nextAnimeButton"
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselTopAnime"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="section-title">
  <h2 color="primary">This Season</h2>
  <mat-divider></mat-divider>
</div>
<mat-spinner *ngIf="isSeasonAnimeLoading" class="mx-auto"></mat-spinner>
<div
  *ngIf="!isSeasonAnimeLoading"
  id="carouselTopManga"
  class="carousel"
  data-bs-ride="carousel"
>
  <div id="carouselInnerTopManga" class="carousel-inner">
    <div class="carousel-item active" *ngFor="let item of topManga">
      <div class="card card-item" (click)="goToElement('manga', item)">
        <div class="img-wrapper">
          <img
            src="{{ item.images.jpg.image_url }}"
            class="d-block w-100"
            alt="{{ item.title }}"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
        </div>
      </div>
    </div>
  </div>
  <button
    id="prevMangaButton"
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselTopManga"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    id="nextMangaButton"
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselTopManga"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
