<div class="form-card">
  <mat-card-title>Sign In</mat-card-title>
  <mat-card-content>
    <form [formGroup]="signInForm">
      <mat-form-field appearance="fill" color="primary" class="form-group">
        <mat-label>Username</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input
          matInput
          placeholder="Type your username"
          formControlName="username"
          name="username"
        />
        <mat-error
          *ngIf="this.form['username'].invalid && this.form['username'].touched"
        >
          <span *ngIf="this.form['username'].hasError('required')"
            >This field is required</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" color="primary">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          name="password"
        />
        <mat-error
          *ngIf="this.form['password'].invalid && this.form['password'].touched"
        >
          <span *ngIf="this.form['password'].hasError('required')"
            >This field is required</span
          >
        </mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button
          [disabled]="!this.signInForm.valid"
          mat-raised-button
          type="submit"
          color="primary"
        >
          Sign In <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</div>
